<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="theme-color" content="#fff7ed">
		<meta name="description" content="FrontForge Desarrollo Web"/>
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="FrontForge | Desarrollo Web" />
		<meta property="og:description" content="Transformamos ideas complejas en experiencias digitales elegantes donde el diseño intencional y el código limpio crean interfaces que cautivan."/>
		<meta property="og:url" content=""/> <!--!arreglar aca  -->
		<meta property="og:type" content="website" />
		<meta property="og:image" content="" /><!--!arreglar aca  -->
		<meta property="og:site_name" content="Desarrollador Web| Diego Correa" />
		<meta property="og:locale" content="es_ES"/>
		<link rel="icon" type="image/svg+xml" href="../favicon.svg"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Tiro+Telugu:ital@0;1&display=swap" rel="stylesheet">
		<title>FrontForge</title>
	</head>
	<body>
		<slot />
	</body>
</html>
